Repository ARashitov/research_kedro_microservice: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, pylint

flake8:
  name: flake8
  description: Flake8 linting check
  entry: flake8
  language: system

pylint:
  name: pylint
  description: Pylint linting check
  entry: pylint
  language: system
  args:
  - --rcfile=pylint.rc
  - --disable=E0402,E0611

ci: drop github actions
  .github/workflows/docker-image.yml
  .github/workflows/pr_test_backend_linting.yaml
  .github/workflows/pr_test_kedro_build.yaml
  .github/workflows/pr_test_quick_start.yaml
Due: none

feat(endpoints): setup upload endpoints
  src/backend/endpoints/__init__.py
  src/backend/endpoints/geocoding/README.MD
  src/backend/endpoints/geocoding/__init__.py
  src/backend/endpoints/geocoding/inputs/__init__.py
  src/backend/endpoints/geocoding/inputs/v1/__init__.py
  src/backend/endpoints/geocoding/inputs/v1/configs.py
  src/backend/endpoints/geocoding/inputs/v1/endpoint.py
  src/backend/main.py
  src/backend/settings.py
  src/backend/starter.py
Due: flake8, pylint

feat(endpoints): task submit endpoint
  src/backend/endpoints/geocoding/__init__.py
  src/backend/endpoints/geocoding/trigger/__init__.py
  src/backend/endpoints/geocoding/trigger/v1/__init__.py
  src/backend/endpoints/geocoding/trigger/v1/configs.py
  src/backend/endpoints/geocoding/trigger/v1/endpoint.py
  src/backend/main.py
  src/backend/shared.py
Due: flake8, pylint

fix(pipelines): export geocoding results registry
  src/pipelines/pipelines/geocoding/geodata_gov_hk/v1/pipeline.py
Due: pylint

feat(backend): setup outputs extraction pipeline
  src/backend/endpoints/geocoding/__init__.py
  src/backend/endpoints/geocoding/outputs/__init__.py
  src/backend/endpoints/geocoding/outputs/v1/__init__.py
  src/backend/endpoints/geocoding/outputs/v1/configs.py
  src/backend/endpoints/geocoding/outputs/v1/endpoint.py
  src/backend/main.py
Due: flake8, pylint

feat(endpoints): setup filename suffix
  conf/context_management/templates/catalog.yaml
  conf/dev/catalog.yaml
  conf/prod/catalog.yaml
  conf/test/catalog.yaml
  conf/ua_test/catalog.yaml
Due: none

feat(backend): setup status tracking pipeline
  src/backend/endpoints/geocoding/__init__.py
  src/backend/endpoints/geocoding/status/__init__.py
  src/backend/endpoints/geocoding/status/v1/__init__.py
  src/backend/endpoints/geocoding/status/v1/configs.py
  src/backend/endpoints/geocoding/status/v1/endpoint.py
  src/backend/endpoints/geocoding/status/v1/schemas.py
  src/backend/main.py
Due: flake8, pylint

chore: setup logging local
  local_log_config.ini
Due: none

chore: drop unneded files
  remote_log_config.ini
  test
Due: none

chore: add docker ignore context
  .dockerignore
Due: none

build: get latest boto3 for aws batch
  src/requirements.txt
Due: none

fix(pipelines): remove google maps
  src/pipelines/pipelines/config_pipeline.py
  src/tests/pipelines/test_config_pipeline.py
Due: flake8, pylint

build: establish latest boto3 inspite conflicts
  docker/Dockerfile
  docker/docker-compose.yaml
  src/requirements.txt
Due: none

fix: remove google map env
  Makefile
Due: none

fix: update health check path
  terraform/rest_services/load_balancer/main.tf
Due: none

feat(infrastructure): user data for autoscaling group implementation
  terraform/rest_services/autoscaling_group/main.tf
Due: none

fix(infastructure): update ami images & docker versions
  terraform/pipelines/aws_batch/variables.tf
  terraform/rest_services/autoscaling_group/datasources.tf
  terraform/rest_services/autoscaling_group/variables.tf
  terraform/shared/elk/ec2/datasources.tf
Due: none

Path conditions:
  flake8: any of: ^src/ and \.py$ and not (__pycache__|env|venv|data)
  pylint: any of: ^src/ and \.py$
