Repository ARashitov/research_kedro_microservice: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, pylint

flake8:
  name: flake8
  description: Flake8 linting check
  entry: flake8
  language: system

pylint:
  name: pylint
  description: Pylint linting check
  entry: pylint
  language: system
  args:
  - --rcfile=pylint.rc
  - --disable=E0402,E0611

fix(devops): separate testing & linting from build and deploy to test
  .github/workflows/pull_requests_to_main.yaml
  .github/workflows/push_to_main.yaml
Due: none

feat(pipelines): setup geocoding pipeline configs & ignore environments
  conf/.gitignore
  conf/context_management/configs.py
  conf/context_management/templates/catalog.yaml
  conf/context_management/templates/cred_template.yaml
  conf/context_management/templates/parameters.yaml
  conf/dev/catalog.yaml
  conf/dev/parameters.yaml
  conf/prod/catalog.yaml
  conf/prod/parameters.yaml
  conf/test/catalog.yaml
  conf/test/parameters.yaml
  conf/ua_test/catalog.yaml
  conf/ua_test/parameters.yaml
Due: none

chore: add __init__.py
  src/backend/__init__.py
Due: flake8, pylint

feat(pipelines): setup geocoding pipeline for hong kong data
  src/pipelines/pipeline_registry.py
  src/pipelines/pipelines/__init__.py
  src/pipelines/pipelines/config_pipeline.py
  src/pipelines/pipelines/geocoding/__init__.py
  src/pipelines/pipelines/geocoding/drivers/__init__.py
  src/pipelines/pipelines/geocoding/drivers/abstract.py
  src/pipelines/pipelines/geocoding/drivers/geodata_gov_hk.py
  src/pipelines/pipelines/geocoding/drivers/google_map.py
  src/pipelines/pipelines/geocoding/geodata_gov_hk/__init__.py
  src/pipelines/pipelines/geocoding/geodata_gov_hk/config.py
  src/pipelines/pipelines/geocoding/geodata_gov_hk/v1/README.md
  src/pipelines/pipelines/geocoding/geodata_gov_hk/v1/__init__.py
  src/pipelines/pipelines/geocoding/geodata_gov_hk/v1/nodes.py
  src/pipelines/pipelines/geocoding/geodata_gov_hk/v1/pipeline.py
  src/pipelines/pipelines/geocoding/nodes.py
  src/pipelines/pipelines/nodes.py
  src/pipelines/settings.py
Due: flake8, pylint

fix(pipelines): setup path for kedro run command over project directory
  src/pipelines/pipeline_registry.py
  src/pipelines/settings.py
Due: flake8, pylint

chore(pipelines): remove google map driver
  src/pipelines/pipelines/geocoding/drivers/__init__.py
Due: flake8, pylint

fix(endpoints): drop pipeline running endpoints & remove custom session id
  src/backend/endpoints/__init__.py
  src/backend/endpoints/template/__init__.py
  src/backend/endpoints/template/run_broken_pipeline/__init__.py
  src/backend/endpoints/template/run_broken_pipeline/v1/__init__.py
  src/backend/endpoints/template/run_broken_pipeline/v1/config.py
  src/backend/endpoints/template/run_broken_pipeline/v1/endpoint.py
  src/backend/endpoints/template/run_pipeline/__init__.py
  src/backend/endpoints/template/run_pipeline/v1/__init__.py
  src/backend/endpoints/template/run_pipeline/v1/config.py
  src/backend/endpoints/template/run_pipeline/v1/endpoint.py
  src/backend/handlers/exception.py
  src/backend/main.py
  src/backend/starter.py
Due: flake8, pylint

test(pipelines): add catalog & pipeline fixtures
  src/tests/conftest.py
Due: flake8, pylint

test(pipelines): setup testing configuration pipeline which is prerequisite to all others
  src/tests/pipelines/test_config_pipeline.py
Due: flake8, pylint

test(pipelines): setup testing of gov hong kong driver
  src/tests/pipelines/geocoding/drivers/conftest.py
  src/tests/pipelines/geocoding/drivers/test_geodata_gov_hk.py
Due: flake8, pylint

test(pipelines): setup testing of geocoding pipeline
  src/tests/pipelines/geocoding/geodata_gov_hk/__init__.py
  src/tests/pipelines/geocoding/geodata_gov_hk/config.py
  src/tests/pipelines/geocoding/geodata_gov_hk/v1/conftest.py
  src/tests/pipelines/geocoding/geodata_gov_hk/v1/test_pipeline.py
Due: pylint

chore: parallel testing
  pyproject.toml
Due: none

chore: drop unneeded code pieces
  src/pipelines/extras/__init__.py
  src/pipelines/extras/session.py
  src/pipelines/pipelines/geocoding/drivers/google_map.py
Due: flake8, pylint

chore: create __init__.py file
  src/tests/pipelines/geocoding/__init__.py
Due: flake8, pylint

chore: snapshot issue jupyter notebook
  notebooks/iss_8__dev__geocoding__hong_kong_gov_data.ipynb
Due: none

fix(pipelines): patch task_id env var before execution test_config pipeline
  src/tests/pipelines/test_config_pipeline.py
Due: flake8, pylint

ci: drop mac os from matrix testing
  .github/workflows/pull_requests_to_main.yaml
Due: none

ci: drop macos12 from testing
  .github/workflows/pull_requests_to_main.yaml
Due: none

fix: change base image from conda -> python 3.10.5
  docker/Dockerfile
Due: none

fix: setup docker container-level test kedro runs
  .github/workflows/pull_requests_to_main.yaml
  docker/docker-compose.yaml
Due: none

chore: deactivate all testings
  .github/workflows/pull_requests_to_main.yaml
Due: none

chore: activate only app testing
  .github/workflows/pull_requests_to_main.yaml
Due: none

chore: test github actions
  .github/workflows/pull_requests_to_main.yaml
Due: none

chore: remove unneeded action
  .github/workflows/cde.yaml
Due: none

chore: damn test
  .github/workflows/pull_requests_to_main.yaml
Due: none

chore: activate test linting
  .github/workflows/pull_requests_to_main.yaml
Due: none

fix: activate only terraform code check
  .github/workflows/pull_requests_to_main.yaml
Due: none

chore: separation testin terraform
  .github/workflows/pr_test_terraform.yaml
  .github/workflows/pull_requests_to_main.yaml
Due: none

chore: activate github action
  .github/workflows/pr_test_terraform.yaml
  .github/workflows/pull_requests_to_main.yaml
Due: none

fix: setup manual trigger
  .github/workflows/pull_requests_to_main.yaml
  .github/workflows/push_to_main.yaml
Due: none

fix: remove google map env var
  conf/context_management/configs.py
  conf/context_management/templates/cred_template.yaml
  docker/Dockerfile
  docker/docker-compose.yaml
Due: none

ci: add pull request build testing
  .github/workflows/pr_test_kedro_build.yaml
Due: none

chore: drop workflows
  .github/workflows/pull_requests_to_main.yaml
  .github/workflows/push_to_main.yaml
Due: none

Create docker-image.yml
  .github/workflows/docker-image.yml
Due: none

ci: add linting check
  .github/workflows/pr_test_backend_linting.yaml
Due: none

ci: quickstart test
  .github/workflows/pr_test_quick_start.yaml
Due: none

chore: update build image command
  Makefile
Due: none

chore: snapshot notebook sending batch requests
  notebooks/iss_12__dev__rest_api__integration_with_aws_batcg.ipynb
Due: none

chore: add test file for github actions
  test
Due: none

Path conditions:
  flake8: any of: ^src/ and \.py$ and not (__pycache__|env|venv|data)
  pylint: any of: ^src/ and \.py$
